<template>
  <div class="landing-about">
    <NavBar />
    <!-- grid cols max = 12, rows max = 6 -->
    <div class="grid grid-cols-2">
      <div>
        <div class="grid grid-rows-2">
          <h1 class="title">Jatim Dev Day</h1>
          <h2 class="subtitle">About</h2>
        </div>
        <div class="grid grid-rows-2">
          <h1 class="title">Jatim Dev Day</h1>
          <h2 class="subtitle">About</h2>
        </div>
      </div>
      <div>
        <h1 class="text-blue-100">COBA TAILWIND</h1>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from "~/components/NavBar.vue";
// import "./about.css";

export default {
  components: {
    NavBar
  }
};
</script>
