<template>
  <div>
    <div class="landing">
      <NavBar />
      <div>
        <h1 class="title">Jatim Dev Day</h1>
        <h2 class="subtitle">Home</h2>
        <Link />
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from "~/components/NavBar.vue";
import "./index.css";

export default {
  components: {
    NavBar
  }
};
</script>
