.container-tailwind {
  @apply min-h-screen;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply text-center;
  @apply mx-auto;
}

.landing {
  background-image: linear-gradient(rgba(0, 31, 57, 0.9), rgba(31, 33, 45, 0.8)),
    url("../assets/image/jdd1.jpeg");
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing-about {
  background-image: linear-gradient(rgba(0, 31, 57, 0.9), rgba(31, 33, 45, 0.8)),
    url("../assets/image/jdd2.jpeg");
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: white;
  letter-spacing: 1px;
  padding-top: 20%;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: white;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
