<template>
  <div class="landing-profile">
    <NavBar />
    <div>
      <h1 class="title">Jatim Dev Day</h1>
      <h2 class="subtitle">Profile</h2>
    </div>
  </div>
</template>

<script>
import NavBar from "~/components/NavBar.vue";
// import "./profile.css";

export default {
  components: {
    NavBar
  }
};
</script>

<style>
.landing-profile {
  background-image: linear-gradient(rgba(0, 31, 57, 0.9), rgba(31, 33, 45, 0.8)),
    url("../assets/image/jdd3.jpg");
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
